@import "tailwindcss";
@import "@heroui/styles";

body {
  background-color: #f8fafc;
}


.swiper-slide {
  opacity: 0.5;
  transform: scale(0.85);
  transition: all 0.4s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}